$black: #000;
$blue: #0000ee;
$light-grey: #8899a6;
$dark-grey: #14171a;
$black-pearl: #15202b;
$grey-pearl: #192734;
$white: #ffffff;
$light-blue: #1da1f2;
$strong-blue: #1b95e0;
$green: #17bf63;
$red: #e0245e;
$dg: #262626;
$lg: #eee;

h1.page-header {
  margin: 0;
  padding: 2%;
  border-bottom: 1px solid $light-grey;
}
.timeline-container {
}
