.single-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100%;
  background: #eee;
  padding: 1vw;
  border-bottom: 1px solid black;
  button {
    background-color: red;
    width: 15%;
  }
  .single-tweet-header {
    display: flex;
    justify-content: space-between;
    width: 70%;
    font-weight: bold;
    .single-tweet-username {
      font-weight: normal;
    }
  }
  .single-tweet-content {
    padding: 3vw 0;
  }
}

.single-retweet {
  background-color: red;
}
